.bus_searchShow{
    height: 50vh;
}

.bus_routeResult{
    height: 80%;
}

#search_route{
    width: 90%;
}

.resultPanel{
    border-radius: 20px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    @media screen and (max-width:992px) {
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

// 線上鍵盤（手機版）
.bus_board{
    @media screen and (max-width:992px) {
        -webkit-box-shadow: 0rem -0.5rem 1rem rgba(0, 0, 0, 0.2);
                box-shadow: 0rem -0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    // 下拉按鈕
    .arrowDown{
        top: 1.5rem;
    }

}