.fashion-scrollbar{
    &::-webkit-scrollbar{
        border-radius: 4px;
        width: 4px;
        background-color: $white;
    }
    &::-webkit-scrollbar-thumb{
        width: 3px;
        border-radius: 3px;
        background-color: $primary;
    }
}
